.risk-card {
    display: grid;
    grid-template-areas: 
    'number indicator'
    'number label';
    grid-column-gap: 12px;

    &__number {
        grid-area: number;
    }
    &__indicator {
        grid-area: indicator;
        justify-self: start;
        align-self: end;
    }
    &__label {
        grid-area: label;
    }
}

